blue/slack/send-post/states.yml
---
StartAt: GetRequest
States:
  GetRequest:
    Type: Pass
    Next: SendRequest
    Parameters:
      Id.$: $.Id
      Kind.$: $.Kind
      Request.$: States.StringToJson($.Request)
  SendRequest:
    Type: Task
    Resource: ${http_function_arn}
    Next: UpdateItem
    InputPath: $.Request
    ResultPath: $.Response
    Parameters:
      method.$: $.method
      url.$: $.url
      headers.$: $.headers
      body.$: $.body
    Retry:
      - BackoffRate: 2
        IntervalSeconds: 3
        MaxAttempts: 4
        ErrorEquals:
          - States.ALL
  UpdateItem:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:dynamodb:updateItem
    End: true
    Parameters:
      TableName: ${table_name}
      Key:
        Id:
          S.$: $.Id
        Kind:
          S.$: $.Kind
      UpdateExpression: >-
        SET ExecutionId=:ExecutionId, #Response=:Response, #Status=:Status
      ExpressionAttributeNames:
        "#Response": Response
        "#Status": Status
      ExpressionAttributeValues:
        :ExecutionId:
          S.$: $$.Execution.Id
        :Response:
          S.$: $.Response
        :Status:
          S: Posted
    Retry:
      - BackoffRate: 2
        IntervalSeconds: 3
        MaxAttempts: 4
        ErrorEquals:
          - States.ALL
