terraform/states/brutalismbot.json
{
  "Comment": "Mirror posts from /r/brutalism to clients",
  "StartAt": "Pull Reddit Posts",
  "States": {
    "Pull Reddit Posts": {
      "Comment": "Pull new posts from /r/brutalism and cache on S3",
      "Type": "Task",
      "Resource": "${reddit_pull_lambda_arn}",
      "ResultPath": "$.Posts",
      "Next": "For Each Post",
      "Retry": [
        {
          "IntervalSeconds": 15,
          "MaxAttempts": 6,
          "BackoffRate": 2,
          "ErrorEquals": [
            "CalledProcessError",
            "Lambda.SdkClientException",
            "Lambda.ServiceException",
            "Lambda.Unknown"
          ]
        }
      ]
    },
    "For Each Post": {
      "Comment": "Iterate over each new post",
      "Type": "Map",
      "ItemsPath": "$.Posts",
      "End": true,
      "Parameters": {
        "Post.$": "$$.Map.Item.Value"
      },
      "Iterator": {
        "StartAt": "Fetch Post from S3",
        "States": {
          "Fetch Post from S3": {
            "Type": "Task",
            "InputPath": "$.Post",
            "Resource": "${fetch_lambda_arn}",
            "ResultPath": "$.Post",
            "Next": "Push Post to Clients",
            "Retry": [
              {
                "IntervalSeconds": 3,
                "MaxAttempts": 6,
                "BackoffRate": 2,
                "ErrorEquals": [
                  "CalledProcessError",
                  "Lambda.SdkClientException",
                  "Lambda.ServiceException",
                  "Lambda.Unknown"
                ]
              }
            ]
          },
          "Push Post to Clients": {
            "Comment": "Start state machines for each client",
            "Type": "Parallel",
            "End": true,
            "Branches": [
              {
                "StartAt": "Pull Slack Webhooks",
                "States": {
                  "Pull Slack Webhooks": {
                    "Type": "Task",
                    "Resource": "${slack_list_lambda_arn}",
                    "ResultPath": "$.Slacks",
                    "Next": "For Each Webhook",
                    "Retry": [
                      {
                        "IntervalSeconds": 3,
                        "MaxAttempts": 6,
                        "BackoffRate": 2,
                        "ErrorEquals": [
                          "CalledProcessError",
                          "Lambda.SdkClientException",
                          "Lambda.ServiceException",
                          "Lambda.Unknown"
                        ]
                      }
                    ]
                  },
                  "For Each Webhook": {
                    "Type": "Map",
                    "ItemsPath": "$.Slacks",
                    "End": true,
                    "Parameters": {
                      "Post.$": "$.Post",
                      "Slack.$": "$$.Map.Item.Value"
                    },
                    "Iterator": {
                      "StartAt": "Slack",
                      "States": {
                        "Slack": {
                          "Type": "Task",
                          "OutputPath": "$.ExecutionArn",
                          "Resource": "arn:aws:states:::states:startExecution",
                          "End": true,
                          "Parameters": {
                            "StateMachineArn": "${slack_state_machine_arn}",
                            "Input": {
                              "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id",
                              "Post.$": "$.Post",
                              "Slack.$": "$.Slack"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              {
                "StartAt": "Tweet",
                "States": {
                  "Tweet": {
                    "Comment": "Push post to Twitter",
                    "Type": "Task",
                    "OutputPath": "$.ExecutionArn",
                    "Resource": "arn:aws:states:::states:startExecution",
                    "End": true,
                    "Parameters": {
                      "StateMachineArn": "${twitter_state_machine_arn}",
                      "Input": {
                        "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id",
                        "Post.$": "$.Post"
                      }
                    }
                  }
                }
              }
            ]
          }
        }
      }
    }
  }
}
