terraform/states/brutalismbot.json
{
  "Comment": "Mirror posts from /r/brutalism to clients",
  "StartAt": "PullPosts",
  "States": {
    "PullPosts": {
      "Comment": "Pull new posts from /r/brutalism and cache on S3",
      "Type": "Task",
      "Resource": "${reddit_pull_lambda_arn}",
      "ResultPath": "$.Posts",
      "Next": "Push"
    },
    "Push": {
      "Comment": "Start state machines for each client",
      "Type": "Parallel",
      "End": true,
      "Branches": [
        {
          "StartAt": "PullSlacks",
          "States": {
            "PullSlacks": {
              "Type": "Task",
              "Resource": "${slack_list_lambda_arn}",
              "ResultPath": "$.Slacks",
              "Next": "EachPostForSlack"
            },
            "EachPostForSlack": {
              "Comment": "Iterate over each new post",
              "Type": "Map",
              "ItemsPath": "$.Posts",
              "End": true,
              "Parameters": {
                "Post.$": "$$.Map.Item.Value",
                "Slacks.$": "$.Slacks"
              },
              "Iterator": {
                "StartAt": "EachSlack",
                "States": {
                  "EachSlack": {
                    "Type": "Map",
                    "ItemsPath": "$.Slacks",
                    "End": true,
                    "Parameters": {
                      "Post.$": "$.Post",
                      "Slack.$": "$$.Map.Item.Value"
                    },
                    "Iterator": {
                      "StartAt": "Slack",
                      "States": {
                        "Slack": {
                          "Type": "Task",
                          "OutputPath": "$.ExecutionArn",
                          "Resource": "arn:aws:states:::states:startExecution",
                          "End": true,
                          "Parameters": {
                            "StateMachineArn": "${slack_state_machine_arn}",
                            "Input": {
                              "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id",
                              "Post.$": "$.Post",
                              "Slack.$": "$.Slack"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        {
          "StartAt": "EachPostForTwitter",
          "States": {
            "EachPostForTwitter": {
              "Comment": "Iterate over each new post",
              "Type": "Map",
              "ItemsPath": "$.Posts",
              "End": true,
              "Parameters": {
                "Post.$": "$$.Map.Item.Value"
              },
              "Iterator": {
                "StartAt": "Tweet",
                "States": {
                  "Tweet": {
                    "Comment": "Push post to Twitter",
                    "Type": "Task",
                    "OutputPath": "$.ExecutionArn",
                    "Resource": "arn:aws:states:::states:startExecution",
                    "End": true,
                    "Parameters": {
                      "StateMachineArn": "${twitter_state_machine_arn}",
                      "Input": {
                        "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id",
                        "Post.$": "$.Post"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      ]
    }
  }
}
