blue/reddit/pop/states.yml
---
StartAt: GetCursor
States:
  GetCursor:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:dynamodb:getItem
    Next: DequeueNext
    Parameters:
      TableName: ${table_name}
      Key:
        Id:
          S: /r/brutalism
        Kind:
          S: cursor
      ProjectionExpression: LastUpdate
    ResultSelector:
      ExclusiveStartTime.$: $.Item.LastUpdate.S
    Retry:
      - BackoffRate: 2
        IntervalSeconds: 3
        MaxAttempts: 4
        ErrorEquals:
          - States.ALL
  DequeueNext:
    Type: Task
    Resource: ${reddit_pop_arn}
    Next: SendMetrics
    Retry:
      - BackoffRate: 2
        IntervalSeconds: 60
        MaxAttempts: 3
        ErrorEquals:
          - States.ALL
  SendMetrics:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:cloudwatch:putMetricData
    Next: NewItem?
    ResultPath: $.MetricData
    Parameters:
      Namespace: ${cloudwatch_namespace}
      MetricData:
        - MetricName: QueueSize
          Unit: Count
          Value.$: $.QueueSize
          Dimensions:
            - Name: QueueName
              Value: /r/brutalism
    Retry:
      - BackoffRate: 2
        IntervalSeconds: 3
        MaxAttempts: 4
        ErrorEquals:
          - States.ALL
  NewItem?:
    Type: Choice
    Default: UpdateQueueSize
    Choices:
      - Next: PutPost
        Variable: $.NextPost
        IsPresent: true
  UpdateQueueSize:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:dynamodb:updateItem
    End: true
    ResultPath: $.UpdateItem
    Parameters:
      TableName: ${table_name}
      Key:
        Id:
          S: /r/brutalism
        Kind:
          S: cursor
      UpdateExpression: >-
        SET QueueSize=:QueueSize
      ExpressionAttributeValues:
        :QueueSize:
          N.$: States.JsonToString($.QueueSize)
    Retry:
      - BackoffRate: 2
        IntervalSeconds: 3
        MaxAttempts: 4
        ErrorEquals:
          - States.ALL
  PutPost:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:dynamodb:putItem
    Next: UpdateCursor
    ResultPath: $.PutItem
    Parameters:
      TableName: ${table_name}
      Item.$: $.NextPost
    Retry:
      - BackoffRate: 2
        IntervalSeconds: 3
        MaxAttempts: 4
        ErrorEquals:
          - States.ALL
  UpdateCursor:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:dynamodb:updateItem
    End: true
    ResultPath: $.UpdateItem
    Parameters:
      TableName: ${table_name}
      Key:
        Id:
          S: /r/brutalism
        Kind:
          S: cursor
      UpdateExpression: >-
        SET ExecutionId=:ExecutionId, Json=:Json, LastUpdate=:LastUpdate, #Name=:Name, QueueSize=:QueueSize, Title=:Title
      ExpressionAttributeNames:
        "#Name": Name
      ExpressionAttributeValues:
        :ExecutionId:
          S.$: $$.Execution.Id
        :QueueSize:
          N.$: States.JsonToString($.QueueSize)
        :Json.$: $.NextPost.Json
        :LastUpdate.$: $.NextPost.LastUpdate
        :Name.$: $.NextPost.Name
        :Title.$: $.NextPost.Title
    Retry:
      - BackoffRate: 2
        IntervalSeconds: 3
        MaxAttempts: 4
        ErrorEquals:
          - States.ALL
