states/definitions/query.yaml
StartAt: GetDefaults
States:
  GetDefaults:
    Comment: Get default state machine parameters
    Type: Pass
    Next: MergeDefaults
    Parameters:
      Given.$: $
      Default:
        Callback: null
        QueryId.$: $$.Execution.Name
        ConsistentRead: null
        ExclusiveStartKey: null
        ExpressionAttributeNames: null
        ExpressionAttributeValues: null
        FilterExpression: null
        IndexName: null
        KeyConditionExpression: null
        Limit: null
        ProjectionExpression: null
        ReturnConsumedCapacity: null
        ScanIndexForward: null
        Select: null
  MergeDefaults:
    Comment: Merge defaults into caller parameters
    Type: Pass
    Next: Query
    Parameters:
      Query.$: States.JsonMerge($.Default, $.Given, false)
  Query:
    Comment: Execute DynamoDB query
    Type: Task
    Resource: arn:aws:states:::aws-sdk:dynamodb:query
    InputPath: $.Query
    ResultPath: $.Result
    Next: NextPage?
    Parameters:
      ConsistentRead.$: $.ConsistentRead
      ExclusiveStartKey.$: $.ExclusiveStartKey
      ExpressionAttributeNames.$: $.ExpressionAttributeNames
      ExpressionAttributeValues.$: $.ExpressionAttributeValues
      FilterExpression.$: $.FilterExpression
      IndexName.$: $.IndexName
      KeyConditionExpression.$: $.KeyConditionExpression
      Limit.$: $.Limit
      ProjectionExpression.$: $.ProjectionExpression
      ReturnConsumedCapacity.$: $.ReturnConsumedCapacity
      ScanIndexForward.$: $.ScanIndexForward
      Select.$: $.Select
      TableName.$: $.TableName
  NextPage?:
    Comment: Check LastEvaluatedKey for more results
    Type: Choice
    Default: Callback?
    Choices:
      - Next: NextPage
        Variable: $.Result.LastEvaluatedKey
        IsPresent: true
  NextPage:
    Comment: Execute DynamoDB query next page
    Type: Task
    Resource: arn:aws:states:::states:startExecution
    Next: Callback?
    ResultPath: $.NextPage
    Parameters:
      StateMachineArn.$: $$.StateMachine.Id
      Name.$: States.Format('{}_{}', $.Query.QueryId, States.UUID())
      Input:
        AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$: $$.Execution.Id
        Callback.$: $.Query.Callback
        QueryId.$: $.Query.QueryId
        ConsistentRead.$: $.Query.ConsistentRead
        ExclusiveStartKey.$: $.Result.LastEvaluatedKey
        ExpressionAttributeNames.$: $.Query.ExpressionAttributeNames
        ExpressionAttributeValues.$: $.Query.ExpressionAttributeValues
        FilterExpression.$: $.Query.FilterExpression
        IndexName.$: $.Query.IndexName
        KeyConditionExpression.$: $.Query.KeyConditionExpression
        Limit.$: $.Query.Limit
        ProjectionExpression.$: $.Query.ProjectionExpression
        ReturnConsumedCapacity.$: $.Query.ReturnConsumedCapacity
        ScanIndexForward.$: $.Query.ScanIndexForward
        Select.$: $.Query.Select
        TableName.$: $.Query.TableName
  Callback?:
    Comment: Check for callback state machine ARN
    Type: Choice
    Default: Return
    Choices:
      - Next: PrepareCallback
        Variable: $.Query.Callback
        IsNull: false
  PrepareCallback:
    Comment: Prepare callback state machine input parameters
    Type: Pass
    Next: Callback
    Parameters:
      StateMachineArn.$: $.Query.Callback
      Result.$: $.Result
      Input:
        AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$: $$.Execution.Id
  Callback:
    Comment: Start callback state machine execution and return DynamoDB results
    Type: Task
    Resource: arn:aws:states:::states:startExecution
    End: true
    ResultPath: $.Callback
    OutputPath: $.Result
    Parameters:
      StateMachineArn.$: $.StateMachineArn
      Input.$: States.JsonMerge($.Input, $.Result, false)
  Return:
    Comment: Return DynamoDB results
    Type: Succeed
    OutputPath: $.Result
