states/definitions/reddit-dequeue.yaml
---
StartAt: DequeueNext
States:
  DequeueNext:
    Type: Task
    Resource: ${reddit_dequeue_arn}
    Next: PutEventsAndMetrics
    ResultSelector:
      CLOUDWATCH:
        Namespace: ${cloudwatch_namespace}
        MetricData:
          - MetricName: QueueSize
            Unit: Count
            Value.$: $.QueueSize
            Dimensions:
              - Name: QueueName
                Value: /r/brutalism
      EVENTBRIDGE:
        EventBusName: ${event_bus_name}
        Source: "reddit"
        DetailType: "post"
        Detail:
          AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$: $$.Execution.Id
          POST.$: $.NextPost
    Retry:
      - BackoffRate: 2
        IntervalSeconds: 60
        MaxAttempts: 3
        ErrorEquals:
          - States.ALL
  PutEventsAndMetrics:
    Type: Parallel
    End: true
    OutputPath: $[0]
    Branches:
      - StartAt: NextPost?
        States:
          NextPost?:
            Type: Choice
            Default: Finish
            InputPath: $.EVENTBRIDGE
            Choices:
              - Next: PutEvent
                Variable: $.Detail.POST
                IsNull: false
          PutEvent:
            Type: Task
            Resource: arn:aws:states:::events:putEvents
            End: true
            Parameters:
              Entries.$: States.Array($)
          Finish:
            Type: Succeed
      - StartAt: SendMetrics
        States:
          SendMetrics:
            Type: Task
            Resource: arn:aws:states:::aws-sdk:cloudwatch:putMetricData
            End: true
            InputPath: $.CLOUDWATCH
            Parameters:
              Namespace.$: $.Namespace
              MetricData.$: $.MetricData
            Retry:
              - BackoffRate: 2
                IntervalSeconds: 60
                MaxAttempts: 3
                ErrorEquals:
                  - CloudWatch.SdkClientException
