states/definitions/slack-beta-enable-disable.yaml
---
StartAt: GetRule
States:
  GetRule:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:eventbridge:describeRule
    Next: Disabled?
    ResultPath: $.state
    Parameters:
      Name: ${reddit_dequeue_rule_name}
    ResultSelector:
      State.$: $.State
  Disabled?:
    Type: Choice
    Default: Enable
    Choices:
      - Next: Disable
        And:
          - Variable: $.state.State
            IsPresent: true
          - Variable: $.state.State
            StringEquals: ENABLED
  Disable:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:eventbridge:disableRule
    Next: RefreshHome
    ResultPath: $.state
    Parameters:
      Name: ${reddit_dequeue_rule_name}
  Enable:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:eventbridge:enableRule
    Next: RefreshHome
    ResultPath: $.state
    Parameters:
      Name: ${reddit_dequeue_rule_name}
  RefreshHome:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:eventbridge:putEvents
    End: true
    Parameters:
      Entries:
        - EventBusName: ${event_bus_name}
          Source: slack/beta
          DetailType: POST /callbacks
          Detail: |-
            {
              "action_ids": ["refresh"],
              "view": { "callback_id": "home" }
            }
