states/definitions/slack-uninstall.yaml
---
StartAt: GetQuery?
States:
  GetQuery?:
    Type: Choice
    Default: GetQuery
    Choices:
      - Next: GetItems
        Variable: $.QUERY
        IsPresent: true
  GetQuery:
    Type: Pass
    Next: GetItems
    Parameters:
      QUERY:
        TableName: ${table_name}
        IndexName: SlackTeam
        Limit: 25
        ExclusiveStartKey: null
        ProjectionExpression: GUID,SORT
        KeyConditionExpression: TEAM_ID = :TEAM_ID
        FilterExpression: APP_ID = :APP_ID
        ExpressionAttributeValues:
          ":APP_ID":
            S.$: $.api_app_id
          ":TEAM_ID":
            S.$: $.team_id
  GetItems:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:dynamodb:query
    Next: Parallelize
    InputPath: $.QUERY
    ResultPath: $.RESULT
    Parameters:
      TableName.$: $.TableName
      IndexName.$: $.IndexName
      Limit.$: $.Limit
      ExclusiveStartKey.$: $.ExclusiveStartKey
      ProjectionExpression.$: $.ProjectionExpression
      KeyConditionExpression.$: $.KeyConditionExpression
      FilterExpression.$: $.FilterExpression
      ExpressionAttributeValues.$: $.ExpressionAttributeValues
  Parallelize:
    Type: Parallel
    End: true
    Branches:
      - StartAt: NextPage?
        States:
          NextPage?:
            Type: Choice
            Default: LastPage
            Choices:
              - Next: NextPage
                Variable: $.RESULT.LastEvaluatedKey
                IsPresent: true
          NextPage:
            Type: Task
            Resource: arn:aws:states:::states:startExecution
            End: true
            ResultPath: $.STATES
            Parameters:
              StateMachineArn.$: $$.StateMachine.Id
              Input:
                AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$: $$.Execution.Id
                QUERY:
                  TableName.$: $.QUERY.TableName
                  IndexName.$: $.QUERY.IndexName
                  Limit.$: $.QUERY.Limit
                  ProjectionExpression.$: $.QUERY.ProjectionExpression
                  KeyConditionExpression.$: $.QUERY.KeyConditionExpression
                  FilterExpression.$: $.QUERY.FilterExpression
                  ExpressionAttributeValues.$: $.QUERY.ExpressionAttributeValues
                  ExclusiveStartKey.$: $.RESULT.LastEvaluatedKey
          LastPage:
            Type: Succeed
      - StartAt: AnyItems?
        States:
          AnyItems?:
            Type: Choice
            Default: GetRequestItems
            Choices:
              - Next: NoItems
                Variable: $.RESULT.Count
                NumericEquals: 0
          GetRequestItems:
            Type: Map
            Next: BatchWriteItem
            ItemsPath: $.RESULT.Items
            ResultSelector:
              RequestItems:
                ${table_name}.$: $
            Iterator:
              StartAt: GetRequestItem
              States:
                GetRequestItem:
                  Type: Pass
                  End: true
                  Parameters:
                    DeleteRequest:
                      Key:
                        GUID.$: $.GUID
                        SORT.$: $.SORT
          BatchWriteItem:
            Type: Task
            Resource: arn:aws:states:::aws-sdk:dynamodb:batchWriteItem
            End: true
            Parameters:
              RequestItems.$: $.RequestItems
          NoItems:
            Type: Succeed
