states/definitions/slack-beta-enable-disable.yaml
---
StartAt: GetRule
States:
  GetRule:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:eventbridge:describeRule
    Next: Disabled?
    ResultPath: $.state
    Parameters:
      Name: ${reddit_dequeue_rule_name}
    ResultSelector:
      State.$: $.State
  Disabled?:
    Type: Choice
    Default: Enable
    Choices:
      - Next: Disable
        And:
          - Variable: $.state.State
            IsPresent: true
          - Variable: $.state.State
            StringEquals: ENABLED
  Disable:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:eventbridge:disableRule
    Next: GetDetail
    ResultPath: $.state
    Parameters:
      Name: ${reddit_dequeue_rule_name}
  Enable:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:eventbridge:enableRule
    Next: GetDetail
    ResultPath: $.state
    Parameters:
      Name: ${reddit_dequeue_rule_name}
  GetDetail:
    Type: Pass
    Next: RefreshHome
    Parameters:
      api_app_id.$: $.api_app_id
      team.$: $.team
      user.$: $.user
      actions:
        - action_id: refresh
      view:
        callback_id: home
  RefreshHome:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:eventbridge:putEvents
    End: true
    Parameters:
      Entries:
        - EventBusName: ${event_bus_name}
          Source: slack/beta
          DetailType: POST /callbacks
          Detail.$: States.JsonToString($)
