states/definitions/twitter-post.yaml
---
StartAt: PutItem
States:
  PutItem:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:dynamodb:putItem
    Next: SendTweet
    InputPath: $.POST
    ResultPath: $.PUT
    Parameters:
      TableName: ${table_name}
      Item:
        SORT:
          S: TWITTER/POST
        GUID:
          S.$: States.Format('@brutalismbot/{}', $.NAME)
        CREATED_UTC:
          S.$: $.CREATED_UTC
        JSON:
          S.$: $.DATA
        NAME:
          S.$: $.NAME
        PERMALINK:
          S.$: $.PERMALINK
        TITLE:
          S.$: $.TITLE
        TTL:
          N.$: States.JsonToString($.TTL)
  SendTweet:
    Type: Task
    Resource: ${twitter_post_function_arn}
    Next: UpdateItem
    InputPath: $.POST.DATA
    ResultPath: $.POST.DATA
    Retry:
      - BackoffRate: 2
        IntervalSeconds: 3
        MaxAttempts: 4
        ErrorEquals:
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
          - Lambda.ServiceException
  UpdateItem:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:dynamodb:updateItem
    End: true
    InputPath: $.POST
    ResultPath: $.UPDATE
    Parameters:
      TableName: ${table_name}
      UpdateExpression: SET EXECUTION_ID = :EXECUTION_ID, JSON = :JSON
      ExpressionAttributeValues:
        ":EXECUTION_ID":
          S.$: $$.Execution.Id
        ":JSON":
          S.$: $.DATA
      Key:
        GUID:
          S.$: States.Format('@brutalismbot/{}', $.NAME)
        SORT:
          S: TWITTER/POST
