blue/slack-beta/screen/states.yml
---
StartAt: GetToken
States:
  GetToken:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:ssm:getParameter
    ResultPath: $.Params
    Next: SendScreener
    Parameters:
      Name: ${param}
      WithDecryption: true
    ResultSelector:
      AccessToken.$: $.Parameter.Value
    Retry:
      - BackoffRate: 2
        IntervalSeconds: 3
        MaxAttempts: 4
        ErrorEquals:
          - States.ALL
  SendScreener:
    Type: Task
    Resource: ${screen_arn}
    Next: Wait
    ResultPath: $.Response
    Parameters:
      ExecutionId.$: $$.Execution.Id
      AccessToken.$: $.Params.AccessToken
      Channel: ${channel_id}
      Key.$: $.Key
      Title.$: $.Title
      Media.$: States.StringToJson($.Media)
      Permalink.$: $.Permalink
    Retry:
      - BackoffRate: 2
        IntervalSeconds: 3
        MaxAttempts: 4
        ErrorEquals:
          - States.ALL
  Wait:
    Type: Wait
    Next: UpdateItem
    Seconds: ${wait_time_seconds}
  UpdateItem:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:dynamodb:updateItem
    Next: DeleteScreener
    ResultPath: $.Update
    Parameters:
      TableName: ${table_name}
      Key.$: $.Key
      UpdateExpression: >-
        SET #Status=:Status, ExecutionId=:ExecutionId
      ExpressionAttributeNames:
        "#Status": Status
      ExpressionAttributeValues:
        :ExecutionId:
          S.$: $$.Execution.Id
        :Status:
          S: Approved
    Retry:
      - BackoffRate: 2
        IntervalSeconds: 3
        MaxAttempts: 4
        ErrorEquals:
          - States.ALL
  DeleteScreener:
    Type: Task
    Resource: ${http_function_arn}
    End: true
    Parameters:
      url: https://slack.com/api/chat.delete
      method: POST
      headers:
        authorization.$: States.Format('Bearer {}', $.Params.AccessToken)
        content-type: application/json; charset=utf-8
      body:
        channel.$: $.Response.channel
        ts.$: $.Response.ts
    Retry:
      - BackoffRate: 2
        IntervalSeconds: 3
        MaxAttempts: 4
        ErrorEquals:
          - States.ALL
