blue/reddit/pop-backlog/states.yml
---
StartAt: GetBacklog
States:
  GetBacklog:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:dynamodb:query
    Next: PutPost
    Parameters:
      TableName: ${table_name}
      IndexName: Kind
      Limit: 1
      KeyConditionExpression: Kind=:Kind
      ExpressionAttributeValues:
        :Kind:
          S: backlog
    ResultSelector:
      Item.$: $.Items[0]
    Retry:
      - BackoffRate: 2
        IntervalSeconds: 3
        MaxAttempts: 4
        ErrorEquals:
          - States.ALL
  PutPost:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:dynamodb:putItem
    Next: DeleteBacklog
    InputPath: $.Item
    ResultPath: $.PutItem
    Parameters:
      TableName: ${table_name}
      Item:
        Id:
          S.$: States.Format('r/brutalism/{}', $.Name.S)
        Kind:
          S: reddit/post
        ExecutionId:
          S.$: $$.Execution.Id
        Json.$: $.Json
        LastUpdate.$: $.LastUpdate
        Media.$: $.Media
        Name.$: $.Name
        Permalink.$: $.Permalink
        Status.$: $.Status
        Title.$: $.Title
    Retry:
      - BackoffRate: 2
        IntervalSeconds: 3
        MaxAttempts: 4
        ErrorEquals:
          - States.ALL
  DeleteBacklog:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:dynamodb:deleteItem
    Next: GetQueueSize
    InputPath: $.Item
    ResultPath: $.DeleteItem
    Parameters:
      TableName: ${table_name}
      Key:
        Id.$: $.Id
        Kind.$: $.Kind
    Retry:
      - BackoffRate: 2
        IntervalSeconds: 3
        MaxAttempts: 4
        ErrorEquals:
          - States.ALL
  GetQueueSize:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:dynamodb:query
    Next: UpdateCursor
    ResultPath: $.QueueSize
    Parameters:
      TableName: ${table_name}
      IndexName: Kind
      Select: COUNT
      KeyConditionExpression: Kind=:Kind
      ExpressionAttributeValues:
        :Kind:
          S: backlog
    Retry:
      - BackoffRate: 2
        IntervalSeconds: 3
        MaxAttempts: 4
        ErrorEquals:
          - States.ALL
  UpdateCursor:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:dynamodb:updateItem
    End: true
    ResultPath: $.UpdateItem
    Parameters:
      TableName: ${table_name}
      Key:
        Id:
          S: backlog
        Kind:
          S: cursor
      UpdateExpression: >-
        SET ExecutionId=:ExecutionId, Json=:Json, LastUpdate=:LastUpdate, #Name=:Name, QueueSize=:QueueSize, Title=:Title
      ExpressionAttributeNames:
        "#Name": Name
      ExpressionAttributeValues:
        :ExecutionId:
          S.$: $$.Execution.Id
        :QueueSize:
          N.$: States.JsonToString($.QueueSize.Count)
        :Json.$: $.Item.Json
        :LastUpdate.$: $.Item.LastUpdate
        :Name.$: $.Item.Name
        :Title.$: $.Item.Title
    Retry:
      - BackoffRate: 2
        IntervalSeconds: 3
        MaxAttempts: 4
        ErrorEquals:
          - States.ALL
