blue/slack-beta/disable/states.yml
---
StartAt: EachAction
States:
  EachAction:
    Type: Map
    Next: UpdateHome
    ResultPath: $.detail.actions
    ItemsPath: $.detail.actions
    ItemSelector:
      ActionId.$: $$.Map.Item.Value.action_id
      Value.$: States.StringToJson($$.Map.Item.Value.value)
    ItemProcessor:
      StartAt: WhichAction?
      States:
        WhichAction?:
          Type: Choice
          Default: DisableRule
          Choices:
            - Next: GetSchedule
              Variable: $.ActionId
              StringEquals: disable_schedule
        DisableRule:
          Type: Task
          Resource: arn:aws:states:::aws-sdk:eventbridge:disableRule
          End: true
          InputPath: $.Value
          Parameters:
            EventBusName.$: $.EventBusName
            Name.$: $.Name
          Retry:
            - BackoffRate: 2
              IntervalSeconds: 3
              MaxAttempts: 4
              ErrorEquals:
                - States.ALL
        GetSchedule:
          Type: Task
          Resource: arn:aws:states:::aws-sdk:scheduler:getSchedule
          Next: DisableSchedule
          InputPath: $.Value
          Parameters:
            GroupName.$: $.GroupName
            Name.$: $.Name
          ResultSelector:
            FlexibleTimeWindow.$: $.FlexibleTimeWindow
            GroupName.$: $.GroupName
            Name.$: $.Name
            ScheduleExpression.$: $.ScheduleExpression
            ScheduleExpressionTimezone.$: $.ScheduleExpressionTimezone
            Target.$: $.Target
          Retry:
            - BackoffRate: 2
              IntervalSeconds: 3
              MaxAttempts: 4
              ErrorEquals:
                - States.ALL
        DisableRule:
          Type: Task
          Resource: arn:aws:states:::aws-sdk:eventbridge:disableRule
          End: true
          InputPath: $.Value
          Parameters:
            EventBusName.$: $.EventBusName
            Name.$: $.Name
          Retry:
            - BackoffRate: 2
              IntervalSeconds: 3
              MaxAttempts: 4
              ErrorEquals:
                - States.ALL
        DisableSchedule:
          Type: Task
          Resource: arn:aws:states:::aws-sdk:scheduler:updateSchedule
          End: true
          Parameters:
            FlexibleTimeWindow.$: $.FlexibleTimeWindow
            GroupName.$: $.GroupName
            Name.$: $.Name
            ScheduleExpression.$: $.ScheduleExpression
            ScheduleExpressionTimezone.$: $.ScheduleExpressionTimezone
            State: DISABLED
            Target.$: $.Target
          Retry:
            - BackoffRate: 2
              IntervalSeconds: 3
              MaxAttempts: 4
              ErrorEquals:
                - States.ALL
  UpdateHome:
    Type: Task
    Resource: arn:aws:states:::states:startExecution
    End: true
    Parameters:
      StateMachineArn: ${app_home_arn}
      Input:
        AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$: $$.Execution.Id
        detail:
          user:
            id.$: $.detail.user.id
    Retry:
      - BackoffRate: 2
        IntervalSeconds: 3
        MaxAttempts: 4
        ErrorEquals:
          - States.ALL
