blue/slack-beta/enable/states.yaml
---
StartAt: EachAction
States:
  EachAction:
    Type: Map
    Next: UpdateHome
    ItemsPath: $.detail.actions
    ItemSelector:
      ActionId.$: $$.Map.Item.Value.action_id
      Value.$: States.StringToJson($$.Map.Item.Value.value)
    ItemProcessor:
      StartAt: WhichAction?
      States:
        WhichAction?:
          Type: Choice
          Default: EnableRule
          Choices:
            - Next: GetSchedule
              Variable: $.ActionId
              StringEquals: enable_schedule
        EnableRule:
          Type: Task
          Resource: arn:aws:states:::aws-sdk:eventbridge:enableRule
          End: true
          InputPath: $.Value
          Parameters:
            EventBusName.$: $.EventBusName
            Name.$: $.Name
        GetSchedule:
          Type: Task
          Resource: arn:aws:states:::aws-sdk:scheduler:getSchedule
          Next: EnableSchedule
          InputPath: $.Value
          Parameters:
            GroupName.$: $.GroupName
            Name.$: $.Name
          ResultSelector:
            FlexibleTimeWindow.$: $.FlexibleTimeWindow
            GroupName.$: $.GroupName
            Name.$: $.Name
            ScheduleExpression.$: $.ScheduleExpression
            ScheduleExpressionTimezone.$: $.ScheduleExpressionTimezone
            Target.$: $.Target
        EnableRule:
          Type: Task
          Resource: arn:aws:states:::aws-sdk:eventbridge:enableRule
          End: true
          InputPath: $.Value
          Parameters:
            EventBusName.$: $.EventBusName
            Name.$: $.Name
        EnableSchedule:
          Type: Task
          Resource: arn:aws:states:::aws-sdk:scheduler:updateSchedule
          End: true
          Parameters:
            FlexibleTimeWindow.$: $.FlexibleTimeWindow
            GroupName.$: $.GroupName
            Name.$: $.Name
            ScheduleExpression.$: $.ScheduleExpression
            ScheduleExpressionTimezone.$: $.ScheduleExpressionTimezone
            State: ENABLED
            Target.$: $.Target
  UpdateHome:
    Type: Task
    Resource: arn:aws:states:::states:startExecution
    End: true
    Parameters:
      StateMachineArn: ${app_home_arn}
